################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hello/.vs/Hello/v15/Server/sqlite3/db.lock
/AcmeApp/.vs/AcmeApp/v15/Server/sqlite3/db.lock
